<header class="navbar">
  <h2 class="navbar__title">
    <a class="navbar__title__anchor" title="Free Stock Photos" data-track-action="navbar" data-track-label="logo" href="/">
      <span class="sr-only">LOGO</span>
    </a> </h2>
  <div class="navbar__mobile-ctrl visible-md">
    <button class="navbar__toggle navbar__toggle--menu" type="button" data-track-action="navbar" data-track-label="mobile-menu">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar__toggle__bar"></span>
      <span class="navbar__toggle__bar"></span>
      <span class="navbar__toggle__bar"></span>
    </button>
  </div>
  <div class="navbar__md-nav navbar__md-nav--search navbar__md-nav--open">
    <form class="navbar__search pull-left" role="search" method="get" action="/">
      <input required="required" placeholder="Search for free photos" name="s" type="search" autocapitalize="none" #imageName (keypress)="handleInput($event, imageName.value)">
      <button class="navbar__search__icon" title="Search" data-track-action="navbar" data-track-label="searchicon" (click)="search(imageName.value);">Search</button>
    </form>
  </div>
  <div class="navbar__md-nav navbar__md-nav--menu">
    <ul class="navbar__list pull-right">
      <li class="navbar__dropdown">
        <a href="#"  data-is-clickable="true" class="js-dropdown" data-track-action="navbar" data-track-label="browse" data-initialized="true">
          Explore
        </a>
      </li>
      <li>
        <a href="#" title="Stock photo license" data-track-action="navbar" data-track-label="license">License</a>
      </li>
      <li>
        <a href="#" data-track-action="navbar" data-track-label="tools">Tools</a>
      </li>
      <li>
        <a href="#" class="btn-primary navbar__cta" data-track-action="navbar" data-track-label="submit">
          Upload Photos
        </a>
      </li>
    </ul>
  </div>
</header>
