<header class="header-section">

  <!-- top-bar -->
  <nav class="navbar navbar-inverse nav-One hidden-sm hidden-xs">
    <div class="container">
      <div class="collapse navbar-collapse">
        <div class="navbar-header"> <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="image"></a> </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="index.html"> <i class="fa fa-home fa-2x"></i></a></li>
          <li class="dropdown"><a href="#">Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">DevOps  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <ul class="single-dropdown">
                  <li><a href="devops-as-service.html">DevOps-as-a-Service </a></li>
                  <li><a href="devops-products.html">DevOps-Products </a></li>

                </ul>
              </li>


              <li> <a href="application-engineering.html">Application Engineering</a></li>
              <li> <a href="software-testing.html">Software Testing </a></li>

            </ul>
          </li>
          <li><a href="why-us.html">Why Us </a></li>
          <li><a href="industries.html">Industries </a></li>
          <li><a href="who-we-are.html">Who We Are</a></li>
          <li><a href="career.html">Career</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>


      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- container -->
  </nav>
  <div class="small-view visible-sm visible-xs">
    <div class="container"> <a class="navbar-brand" href="index.html"><img src="images/logo-m.png" alt="image"></a> <span class="menu-toggle visible-xs visible-sm"><i class="fa fa-bars" aria-hidden="true"></i></span> </div>
  </div>
</header>
