<footer class="footer row">
  <div class="content-wrapper">
    <div class="col-sm-6 col-xs-12 text-center">
      <div class="v-space"><a class="site-link" href="/about" title="About House of god">About Us</a><a class="site-link" href="/terms" title="Terms &amp; condition">T&C</a>
        <!--a.site-link(href="/career" title="Career at house of god") Careers--><a class="site-link" href="/privacy" title="Privacy">Privacy</a><a class="site-link" href="/faq" title="Frequently asked questions">FAQ</a><a class="site-link" href="/contact" title="Contact Us">Contact Us</a>
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="social-links v-space">
        <div class="heading"> Connect :
          <div>
            <a class="social-link tr-social-share" href='https://www.facebook.com/houseofgodapp' title="Find House of God App on Facebook" target='_blank'>
              <!--+ paintIcon('facebook',{size:{x:24,y:24}, fill: '#444444'})-->
            </a>
            <a class="social-link tr-social-share" href='https://www.instagram.com/houseofgodapp' title="House of God on Instagram" target='_blank'>
              <!--+ paintIcon('instagram', {fill: '#444444'})-->
            </a>
            <a class="social-link tr-social-share" href='https://twitter.com/HouseofGodApp' title="Tweet to House of God App" target='_blank'>
              <!--+ paintIcon('twitter', {fill: '#444444'})-->
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-3 col-xs-6 text-center">
      <div class="v-space">
        <div class="heading" style="text-align:right">
          <h4 style="margin-bottom:0; text-align:center">Download our app</h4>
          <div>
            <a class="tr-app-icon" href="https://play.google.com/store/apps/details?id=com.tf.eros.faythTv&amp;hl=en">
              <img class="tr-app-icon" src="../../assets/images/google-play.png" height="42"/>
            </a>
            <a class="tr-app-icon" href="https://itunes.apple.com/in/app/house-of-god-app/id1101115742?mt=8">
              <img class="tr-app-icon" src="../../assets/images/apple-store.png" height="42"/>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 text-center"><small class="v-space">All rights reserved &copy; 2017 house of god</small></div>
  </div>
</footer>
