<!--The content below is only a placeholder and can be replaced.-->
<app-header (text)="searchString($event)"></app-header>
<div class="container-fluid home-page">
  <div class="title-tabs">
    <h2 class="title-tabs__title">Free Stock Photos</h2>
    <a class="title-tabs__tab js-home-link js-home-trending title-tabs__tab--active"  data-name="js-home-trending" href="/">Most Recent </a> |
    <div  *ngIf="cokieeValue.length > 0" style="display: inline-block;">
      <a class="title-tabs__tab js-home-link js-home-new" href="#" *ngFor="let tag of cokieeValue">
        <span style="border: 1px solid #333;padding: 5px 10px;margin-right: 10px; background:#333; color: #fff;">{{tag}}</span>
      </a>
    </div>
  </div>
  <app-images [message]="textMessage" (imageChange)="imageDetails($event)"></app-images>
  <div class="js-loading" data-page="2">
    <div class="spinner">
      <div></div><div></div><div></div><div></div>
    </div>
    <div class="ie-fallback">Fetching more photos…</div>
  </div>
</div>
<app-uploader></app-uploader>
<app-magic-box [image]="currentImage"></app-magic-box>
<app-footer></app-footer>
