<div class="photos" *ngIf="images && images.length > 0" data-row-grid="{&quot;minMargin&quot;:10,&quot;maxMargin&quot;:10,&quot;itemSelector&quot;:&quot;.photo-item&quot;,&quot;firstItemClass&quot;:&quot;first-item&quot;,&quot;lastRowClass&quot;:&quot;last-row&quot;,&quot;resize&quot;:true,&quot;minWidth&quot;:426}">
  <div *ngFor="let image of images; let i = index;">
    <article class="photo-item photo-item--overlay" (click)="showDetails(image)" [ngClass]="{'first-item': i%4 === 1}"  style="margin-right: 10px; width: 335px; height:375px;">
      <a class="js-photo-link"  data-initialized="true">
        <img [srcset]="image.url_m"  style="background:rgb(60,51,41); max-width: 100%; max-height:100%;" class="photo-item__img" [alt]="image.title" [src]="image.url_m">
      </a>
      <a href="#" class="photo-item__photographer">
      <span class="photo-item__name">rawpixel.com</span>
    </a>
    </article>
    <article class="photo-item photo-item--overlay" (click)="showDetails(image)" *ngIf="i%4 === 1" style="margin-right: 10px; width: 335px; height:375px;">
      <a class="js-photo-link"  data-initialized="true">
        <img [srcset]="image.url_l"  style="background:rgb(60,51,41); max-width: 100%; max-height:100%;" class="photo-item__img" [alt]="image.title" [src]="image.url_l">
      </a>
      <a href="#" class="photo-item__photographer">
      <span class="photo-item__name">rawpixel.com</span>
    </a>
    </article>
    <article class="photo-item photo-item--overlay" (click)="showDetails(image)" *ngIf="i%4 === 2" style="margin-right: 10px; width: 335px; height:375px;">
      <a class="js-photo-link"  data-initialized="true">
        <img [srcset]="image.url_c" style="background:rgb(60,51,41); max-width: 100%; max-height:100%;" class="photo-item__img" [alt]="image.title" [src]="image.url_c">
      </a>
      <a href="#" class="photo-item__photographer">
      <span class="photo-item__name">rawpixel.com</span>
    </a>
    </article>
    <article class="photo-item photo-item--overlay" (click)="showDetails(image)" *ngIf="i%4 === 3"  style="margin-right: 10px; width: 335px; height:375px;">
      <a class="js-photo-link"  data-initialized="true">
        <img [srcset]="image.url_o" style="background:rgb(60,51,41);max-width: 100%; max-height:100%;" class="photo-item__img" [alt]="image.title" [src]="image.url_o">
      </a>
      <a href="#" class="photo-item__photographer">
      <span class="photo-item__name">rawpixel.com</span>
    </a>
    </article>
  </div>
</div>

